@model IEnumerable<LivrariaDTO.AutorDTO>

@{
    ViewBag.Title = "Listar Autor";
}

<h2>Listar Autor</h2>

<p>
    @Html.ActionLink("Novo Registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeAutor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.NomeAutor)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Autor", new { id = item.IDAutor })" class="btn btn-warning btn-sm"><span title="Editar" class="glyphicon glyphicon-pencil"></span></a>
                <a href="@Url.Action("Details", "Autor", new { id = item.IDAutor })" class="btn btn-info btn-sm"><span title="Detalhar" class="glyphicon glyphicon-search"></span></a>
                <a href="@Url.Action("Delete", "Autor", new { id = item.IDAutor })" class="btn btn-danger btn-sm"><span title="Excluir" class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    }
</table>

